body {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #222f3e;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  height: 10%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather {
  margin-right: 30px;
  font-size: 17px;
  font-weight: 600;
}

section {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  font-size: 150px;
  font-weight: 600;
  margin-bottom: 2%;
}

input {
  border: none;
  text-align: center;
  background-color: transparent;
}

.form,
.greeting {
  display: none;
}

.showing {
  display: block;
}

.form {
  font-size: 50px;
  margin-bottom: 7%;
}

.form > input {
  margin-bottom: 10px;
  color: white;
}

.greeting {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 7%;
}

.toDoForm {
  font-size: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.toDoForm > input {
  border-bottom: 2px solid white;
  color: white;
  width: 80%;
  padding: 5px 0;
}

.toDoForm > input::placeholder {
  color: white;
}

button {
  border: none;
  background-color: transparent;
  color: white;
  padding: 0px;
}

button:active {
  filter: brightness(50%);
}

.toDoList {
  width: 100%;
  max-width: 300px;
}

.toDoList > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}

footer {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.author {
  font-size: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
